#comment {
    color: green;
    font-weight: bold;
}

.code-snippet {
    font-size: small;
}

body{
    background-color: burlywood;
}

.description {
    color: rgb(44, 37, 9)
}

.container {
    text-align: center;
}